                /* Start daily */
                
                .daily {
                    display: grid;
                    /* grid-template-columns: minmax(400px, 1fr); */
                    grid-template-rows: 150px 1fr;
                    row-gap: 20px;
                    grid-template-areas: "head""post";
                }
                
                .daily .head {
                    grid-area: head;
                }
                
                .daily .posttag {
                    grid-area: post;
                    display: grid;
                    grid-template-columns: repeat(3, 400px);
                    grid-template-rows: 600px;
                    gap: 15px;
                }
                /* End daily */
                /* Start responsive design */
                /* ######################## Media Queries ####################*/
                
                @media ( max-width:768px) {
                    .daily .posttag {
                        grid-template-columns: 100%;
                        grid-template-rows: repeat(3, 1fr);
                    }
                }