            .Allapp {
                display: grid;
                grid-template-rows: 5fr auto;
                grid-template-columns: minmax(400px, 1fr);
                /* grid-gap: 1rem */
                width: 100%;
            }
            
            .Allapp header {
                background-color: #812a2a;
            }
            
            .Allapp .second_part {
                background-color: #000;
                padding: 50px 0;
                margin: 90px 0;
            }
            
            .Allapp .third_part {
                background-color: purple;
            }